<% provide(:title, 'About Us') %>
<!DOCTYPE html>

<h1> About Us </h1>
<p>
	the <a href="http://railstutorial.org/"> Ruby on Rails Tutorial</a> is a porject to make a book and screencasts to each web de with <a href="http://railstutorial/"> Ruby on Rails </a>. This is the sample app for that tutorial! Exciting stuff :)

</p> 

